<div class="flex justify-center p-3">
    {{input value=value
        key-up=(action 'onInputChanged')
        class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-7/12 appearance-none leading-normal"
        placeholder="Search for an item"}}
</div>
<div class="flex justify-center p-3">
    <label class="flex justify-start items-start">
        <div
            class="bg-white border-2 rounded border-gray-400 w-6 h-6 flex flex-shrink-0 justify-center items-center mr-2 focus-within:border-blue-500">
            {{input type="checkbox" checked=showFav change=(action 'onFavouriteChanged' value="target.checked") class="opacity-0 absolute"}}
            <svg class="fill-current hidden w-4 h-4 text-green-500 pointer-events-none" viewBox="0 0 20 20">
                <path d="M0 11l2-2 5 5L18 3l2 2L7 18z" /></svg>
        </div>
        <div class="select-none">Favourites</div>
    </label>
</div>
<div class="flex justify-center">
    <table class="table-auto">
        <thead class="text-white">
            <tr class="bg-teal-400">
                <th class="px-4 py-2">Item</th>
                <th class="px-4 py-2">Quantity</th>
                <th class="px-4 py-2">Price</th>
            </tr>
        </thead>
        <tbody>
            {{#if itemsToBeDisplayed}}
                {{#each itemsToBeDisplayed as |item|}}
                    <tr class="item">
                        <td class="border px-4 py-2 font-semibold">
                            {{#link-to "items.show" item class=(concat 'item' item.id)}}{{item.title}}{{/link-to}}</td>
                        <td class="border px-4 py-2">{{item.quantity}}</td>
                        <td class="border px-4 py-2">{{item.price}}</td>
                    </tr>
                {{/each}}
            {{else}}
                <tr>
                    <td class="border px-4 py-2 font-semibold text-center" colspan="3">No items to display!</td>
                </tr>
            {{/if}}
        </tbody>
    </table>
</div>